<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    Welcome to the Game! lets play...
    <table>
        <tr>
            <td>score: {{this.gameService.score}}</td>
            <td>level: {{this.gameService.level}}</td>
        </tr>
        <tr>
            <td></td>
            <td><button (click)="up()">up</button></td>
            <td></td>
        </tr>
        <tr>
            <td><button (click)="left()">left</button></td>
            <td></td>
            <td><button (click)="right()">right</button></td>
        </tr>
        <tr>
            <td></td>
            <td><button (click)="down()">down</button></td>
            <td></td>
        </tr>
    </table>
    {{this.gameService.game.statusMessage}}
    <br><br>
    <game-board [cells]='cells'>Loading board...</game-board>
    <input placeholder="Write Comment" id="addInput" #addInput/>
    <input type="submit" value="Submit" (click)="sendComment(addInput.value)">
    <table>
        <tr *ngFor="let comment of comments">
            <td>{{comment}}</td>
        </tr>
    </table>
</div>
</body>
</html>